<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information from {{teamName}}.</title>
  </head>
  <body>
    <p>Hi {{fullName}},</p>
    <p>You have been assigned manager of team {{teamName}}.</p>
    <p>Thanks and Regards</p>
    <p>Team Atmos</p>
  </body>
</html>