<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Email</title>
  </head>
  <body>
    <p>Test email sent, with context 123 = {{value}}</p>
  </body>
</html>